body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-image: url('../image/background1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    color: #333036;
  }
  

  
  nav {
    background-color: #CAB1BD;
    height: 3em;
    line-height: 3em;
    text-align: center;
    font-weight: 600;
    color: #333036;
  }
  
  nav a {
    text-decoration: none;
    color: #333036;
    padding: 0 1em;
    font-size: 1em;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: #AF615A
  }
  
  main {
    width: 50%;
    background-color: rgba(231, 207, 205, 0.85);
    padding: 2em;
    margin: 2em auto;
    line-height: 1.5;
    text-align: left;
    font-size: 1.5em;
  }
  
  main h1 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 1em;
  }
  
  footer {
    background-color: #CAB1BD;
    height: 3em;
    text-align: center;
    line-height: 3em;
    color: #333036;
    font-size: 0.9em;
  }
  
  main div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }
  
  main img#slideshow {
    width: 90%;
    max-width: 100%;
    transition: opacity 0.3s ease-in-out;
  }
  
  main button {
    background-color: #CAB1BD;
    border: none;
    font-size: 2em;
    cursor: pointer;
    color: #333036;
    padding: 0.2em 0.5em;
    transition: color 0.3s;
  }
  
  main button:hover {
    color: #B5C9C3;
  }
  